@font-face {
    font-family: Kanit;
    src: url(./assets/fonts/Kanit-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Kanit;
    src: url(./assets/fonts/Kanit-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Kanit;
    src: url(./assets/fonts/Kanit-Light.ttf);
    font-weight: 300;
}
